<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Open Foundry API</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#primary-navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="primary-navigation">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('index') }}">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="documentationDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Documentation
            </a>
            <div class="dropdown-menu" aria-labelledby="documentationDropdown">
              <a class="dropdown-item" target="_blank" href="{{ url_for('documentation_version_one') }}">Version 1 (Current)</a>
            </div>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="biobricksDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            BioBricks
          </a>
          <div class="dropdown-menu" aria-labelledby="biobricksDropdown">
            <a class="dropdown-item" target="_blank" href="https://biobricks.org/">BioBricks</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" target="_blank" href="https://biobricks.org/bionet/">BioNet</a>
            <a class="dropdown-item" target="_blank" href="https://biobricks.org/freegenes/">The Free Genes Project</a>
            <a class="dropdown-item" target="_blank" href="https://biobricks.org/openmta/">OpenMTA</a>
            <a class="dropdown-item" target="_blank" href="https://biobricks.org/pdc/">Public Domain Chronicle</a>
          </div>
        </li>
        {% if current_user.is_anonymous %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
          </li>        
        {% endif %}
      </ul>
    </div>
  </nav>